body{
    margin-bottom: 100px; 
    display: flexbox;
    
}
.mt-5{
  margin-bottom: 100px; 
  max-height: 500px;
  overflow-y: auto;
}
.mdb-accordion-item {
  margin-bottom: 20px; 
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  .intro {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    padding: 50px;
    color: white; 
    margin-bottom: 60px;

  }
  .intro p, .about-content, .pictures p{
color: rgb(226, 234, 227);
text-align: center;
font-family: Inter, sans-serif;;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: transparent;
text-decoration: none;
margin-top: 20px;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    background-image: url('../images/room.jpg');
    background-size: cover;
    padding: 50px;
    color: white; 
   
  }
  .about-content{
    background-image: none;
    font-family: Inter, sans-serif;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-size: x-large;
    background-color: color-mix(in green srgb, color 30% percentage, color white);

  }
  .pictures{
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
.pictures .picture1{
    background-image: url('../images/background.jpg');
    background-size: cover;
    min-width: 700px;
    min-height: 300px;

 }
 .pictures .picture2{
    background-image: url('../images/writing.jpg') ;
    background-size: cover;
    min-width: 700px;
 }
 .pictures p{
    color: black;
    margin-top: 100px;
    font-weight: bolder;
 }
  
  .testimonials {
    padding: 80px;
    font-family: Inter, sans-serif;
  
  }
  .testimonials p{
    font-style: italic;
    margin-top: 20px;
    text-decoration: none;
    font-size: x-large;
  }
  .card{
    border-radius: 10px;
    max-width: 300px;
  }
  .fr{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  .fr-background{
    background-image: url('../images/b08b5f0f1977452da106294351c7075b.webp');
    margin-bottom: 100px;
  }
  .frp{
    text-decoration: none;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  .pictures .picture3{
    background-image: url('../images/876e5464d9444627b476d94eb90d4ea5.webp');
    background-size: cover;
    min-width: 700px;
    min-height: 300px;

 }
 .pictures .picture4{
    background-image: url('../images/f3be4ff2da7642d887eb5094442c39f5.webp') ;
    background-size: cover;
    min-width: 700px;
 }
 .fr-link {
  text-decoration: none;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgb(12, 188, 47);
  font-size: 1.2em; 
  transition: font-size 0.2s ease-in-out;
  font-weight: bold;
}

.fr-link:hover {
  font-size: 1.4em; /* Increase the font size on hover */
  cursor: pointer; /* Change the cursor on hover to indicate it's clickable */
}
.home .quotation{
  font-size: 80px;
  font-style: italic;

}
.about-content{
  font-style: italic;
  line-height: 1.5;
}