.services-page-container *,
.services-page-container *::before,
.services-page-container *::after {
  box-sizing: border-box;
}

.services-page-container  {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  /*background-image: linear-gradient(45deg, #f1b52a, #74ac14);*/
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: space-between;
  margin-bottom: 40px;
  background-image: url('../images/book2.jpg');
 
  
}
.services-page-container .title{
  align-content: center;
  align-self: center;
}

.services-page-container .services-container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  justify-content: space-between;
  margin: 0 auto;
}

.card .sus{
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 10px;
}
.card h2 {
    margin-bottom: 10px; /* Adjust the value to your preference */
  }
.card .p2{
    font-size: 1.5rem; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: #000; 
    font-weight: normal;
    background-color: transparent;
    text-decoration: none;
    margin: 2rem 0;
}
.services-page-container .card {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  background-color: #fff; 
  justify-content: center;
  margin-top: 10px;
  flex: 1;
}
  
  
  
  /*amazon-link, .homedepot-link, .walmart-link {
    color: #007bff;
    text-decoration: none;
  }*/
  
  @media screen and (max-width: 960px) {
    .card {
      inline-size: card;
    }
    
  }
  
  @media (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .card p{
    font-size: large;
    text-decoration: none;
  }
  
  .calendar p{
    font-size: large; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: #181717; 
    font-weight: normal;
    background-color: transparent;
    text-decoration: none;

    justify-content: center;
  }
  .calendar{
    background-image: url('../images/backgorund2.jpg');
  }